<%= form_tag('/cmd_exec', remote: true, id: 'cmd_form') do  %>
	<%= text_area_tag 'cmd', nil, :size => '50x20' %>
	<%= submit_tag('Run', id: 'submit') %>
<% end %>

<div id="content"></div>

<script type="text/javascript">
	$( "#submit" ).click(function( event ) {
  	$.PeriodicalUpdater('/log_print', {
          method: 'post',         
          data: '',               
          minTimeout: 500,     
          maxTimeout: 2000,     
          multiplier: 2,       
          type: 'text',  
          maxCalls: 0,       
          verbose: 0 ,
          autoStop: 5
      }, function(remoteData, success, xhr, handle) {
           $('#content').html(remoteData);
      });
	});
</script>